<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recetas__SP_MinCapas.Properties.Settings.recetas_dbConnectionString"
            connectionString="Data Source=DESKTOP-RRECBD4;Initial Catalog=recetas_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>